<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta charset="utf-8">
  <script>
    var require = {
      paths: {
        'jquery': '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min',
        'bootstrap': '//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min'
      }
    };
  </script>
  <script data-main="/js/main" src="/js/lib/require.js"></script>
  <link rel="stylesheet" href="/css/style.css">

  <!-- Begin Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/bootstrap/datepicker.css">
  <link rel="stylesheet" href="/css/fullcalendar.css">
  <!-- End Bootstrap -->

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=57A9eVXvkuWfixHIHAobwUq9"></script>

  {% block head %}{% endblock %}
</head>
<body>
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">My Cars</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">支出</a></li>
        <li><a href="#about">关于作者</a></li>
        <li><a href="#contact">联系</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container theme-showcase">
  {% block content %}{% endblock %}
</div>
<div id="footer">
  {% block footer %}{% endblock %}
</div>
</body>
</html>