<script type="text/javascript">
  require(['jquery', 'lang', 'calendar'], function($, _, Cal){
    var _events = [];

    {% set typeColors ={
      'refuel': 'black',
      'parking':'blue',
      'ticket':'red',
      'washing':'orange',
    } %}

    {% for _exp in car.expenses_last_year() %}
      _events.push({
        id: {{ _exp.key.id() }},
        title: _('{{ _exp.type }}') + ' {{ _exp.amount|int }}',
        color: '{{ typeColors.get(_exp.type,'') }}',
        start: '{{ _exp.date }}',
        car: '{{ car.key.id() }}',
        address: '{{ _exp.address }}'
      });
    {% endfor %}

    $('#car-calendar-{{ car.key.id() }}').data('full-calendar-events', _events);

    Cal.initialize();
  });
</script>