<form class="form-horizontal" role="form" action="/car/{{ car.key.id() }}" method="post">
  <div class="form-group">
    <label for="carName" class="col-sm-2 control-label">名称</label>
    <div class="col-sm-4">
      <input name="name" type="text" class="form-control" id="carName" placeholder="Name" value="{{ car.name }}">
    </div>

    <label for="carBuyTime" class="col-sm-2 control-label">购买日期</label>
    <div class="col-sm-4">
      <input name="buy_date" type="text" class="form-control" id="carBuyTime" placeholder="Buy Time"
             value="{{ car.date|date }}">
    </div>
  </div>
  <div class="form-group">
    <label for="carPrice" class="col-sm-2 control-label">价格（含税）</label>
    <div class="col-sm-4">
      <input name="price" type="text" class="form-control" id="carPrice" placeholder="Price (include tax)"
             value="{{ car.price }}">
    </div>

    <label for="carMiles" class="col-sm-2 control-label">里程</label>
    <div class="col-sm-4">
      <input name="mile" type="text" class="form-control" id="carMiles" placeholder="Miles"
             value="{{ car.mile }}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">保存</button>
    </div>
  </div>
</form>