{% extends "base.html" %}

{% block title %} 汽车支出 {% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      My Cars
      <span class="glyphicon glyphicon-plus right toggle" data-toggle="new-car-form">&nbsp;</span>
      <a href="/export"><span class="glyphicon glyphicon-export right" title="Export">&nbsp;</span></a>
{#      <span class="glyphicon glyphicon-import right" title="Import">&nbsp;</span>#}
    </h3>

  </div>
  <div class="panel-body">

    <!-- Add new car form begin -->
    <form role="form" class="form-inline hidden" method="post" action="" id="new-car-form">
      <div class="form-group">
        <label class="sr-only" for="carName">Email address</label>
        <input type="text" class="form-control" id="carName" placeholder="Enter name" name="name" required="">
      </div>
      <div class="form-group">
        <label class="sr-only" for="carBuyDate">Buy Date</label>
        <input type="text" class="form-control" id="carBuyDate" placeholder="Buy Date" name="buy_date">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    </form>
    <!-- Add new car form end -->

    <p></p>

    {% for car in cars %}
      <div class="panel panel-default" id="car-{{ car.key.id() }}">
        <div class="panel-heading">
          {{ car.name }}
          <span data-delete-url="/car/{{ car.key.id() }}"
                data-remove-selector="#car-{{ car.key.id() }}"
                class="glyphicon glyphicon-remove right delete" title="Delete"></span>
          <span class="right"> &nbsp; &nbsp; </span>
          <span class="glyphicon glyphicon-edit right toggle" data-toggle="edit-car-{{ car.key.id() }}"
                title="Edit"></span>
        </div>
        <div class="panel-body">
          <div id="edit-car-{{ car.key.id() }}" class="hidden">
            {% include "car/edit.html" %}
          </div>

          <div class="row">
            <div class="col-md-8">
              {% include "expense/form.html" %}
            </div>

            <div class="right">
              {% include "expense/sum.html" %}
            </div>


            <div class="col-md-8 ">
              <p></p>
              <div class="calendar" id="car-calendar-{{ car.key.id() }}"></div>
              {% include "expense/js/calendar-js.html" %}
            </div>

            <!--<div class="col-md-8 left">-->
              <!--{% include "expense/list.html" %}-->
            <!--</div>-->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}