{% from 'macro/icon.html' import icon %}

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Sum</th>
      <th>Avg</th>
    </tr>
  </thead>
  <tr>
    <td><span class="glyphicon glyphicon-tint"></span></td>
    {% set sum_refuel = car.sum('refuel') %}
    <td>{{ sum_refuel|int }}</td>
    <td>{{ (sum_refuel / car.mile)|round(2)}}</td>
  </tr>
  <tr>
    <td>{{ icon("park", "Parking") }}</td>
    {% set sum_park = car.sum('parking') %}
    <td>{{ sum_park|int }}</td>
    <td>{{ (sum_park / car.mile)|round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("insurance", "Insurance") }}</td>
    {% set sum_ins = car.sum('insurance') %}
    <td>{{ sum_ins|int }}</td>
    <td>{{ (sum_ins / car.mile)|round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("wash", "Washing") }}</td>
    {% set sum_wash = car.sum('washing') %}
    <td>{{ sum_wash|int }}</td>
    <td>{{ (sum_wash / car.mile)|round(2)}}</td>
  </tr>
  <tr>
    <td>{{ icon("ticket", "Ticket") }}</td>
    {% set sum_ticket = car.sum('ticket') %}
    <td>{{ sum_ticket|int }}</td>
    <td>{{ (sum_ticket / car.mile) |round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("car", "Price include tax") }}</td>
    <td>{{ car.price|int }}</td>
    <td>{{ (car.price / car.mile) |round(2) }}</td>
  </tr>
  <tr>
    <td title="Other expenses">...</td>
    {% set sum_ticket = car.sum('other') %}
    <td>{{ sum_ticket|int }}</td>
    <td>{{ (sum_ticket / car.mile) |round(2) }}</td>
  </tr>
  <tr>
    <td></td>
    {% set _total = sum_ticket + sum_park + sum_wash + sum_refuel + sum_ins + car.price %}
    <td>{{ _total|int}}</td>
    <td>{{ (_total/car.mile)|round(2)}}</td>
  </tr>
</table>