{% from 'macro/icon.html' import icon %}

{% set _days = (now - car.date).days %}

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>总计</th>
      <th>平均 / KM</th>
      <th>平均 / 天</th>
    </tr>
  </thead>
  <tr>
    <td title="加油"><span class="glyphicon glyphicon-tint"></span></td>
    {% set sum_refuel = car.sum('refuel') %}
    <td>{{ sum_refuel|int }}</td>
    <td>{{ (sum_refuel / car.mile)|round(2)}}</td>
    <td>{{ (sum_refuel / _days)|round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("park", "停车") }}</td>
    {% set sum_park = car.sum('parking') %}
    <td>{{ sum_park|int }}</td>
    <td>{{ (sum_park / car.mile)|round(2) }}</td>
    <td>{{ (sum_park / _days)|round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("insurance", "保险") }}</td>
    {% set sum_ins = car.sum('insurance') %}
    <td>{{ sum_ins|int }}</td>
    <td>{{ (sum_ins / car.mile)|round(2) }}</td>
    <td>{{ (sum_ins / _days)|round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("wash", "洗车") }}</td>
    {% set sum_wash = car.sum('washing') %}
    <td>{{ sum_wash|int }}</td>
    <td>{{ (sum_wash / car.mile)|round(2)}}</td>
    <td>{{ (sum_wash / _days)|round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("ticket", "罚单") }}</td>
    {% set sum_ticket = car.sum('ticket') %}
    <td>{{ sum_ticket|int }}</td>
    <td>{{ (sum_ticket / car.mile) |round(2) }}</td>
    <td>{{ (sum_ticket / _days)|round(2) }}</td>
  </tr>
  <tr>
    <td>{{ icon("car", "购车款（含税）") }}</td>
    <td>{{ car.price|int }}</td>
    <td>{{ (car.price / car.mile) |round(2) }}</td>
    <td>{{ (car.price / _days)|round(2) }}</td>
  </tr>
  <tr>
    <td title="其他支出">...</td>
    {% set sum_others = car.sum('other') %}
    <td>{{ sum_others|int }}</td>
    <td>{{ (sum_others / car.mile) |round(2) }}</td>
    <td>{{ (sum_others / _days)|round(2) }}</td>
  </tr>
  <tr>
    <td></td>
    {% set _total = sum_ticket + sum_park + sum_wash + sum_refuel + sum_ins + car.price %}
    <td>{{ _total|int}}</td>
    <td>{{ (_total / car.mile)|round(2)}}</td>
    <td>{{ (_total / _days)|round(2) }}</td>
  </tr>
</table>